* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .body-text {
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    background-image: url("../img/Bg/Bg1.jpg");
    color:white;
    text-align: center;
    background-repeat: no-repeat;
  }

  .body-text2 {
    padding-top: 100px;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    background-repeat: no-repeat;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(67, 67, 196);
    font-family: "Montserrat", sans-serif;
  }
  
  .heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
  }
  
  .nav-links a:hover:not(.active) {
    background-color: rgb(61, 61, 129);
  }

  .nopadding{
    padding: 0 !important;
    margin: 0 !important;
  }

  .content-detail{
    text-align: left;
  }

  .modal.fade {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-backdrop.fade {
    opacity: 0;
  }

  a.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  a.learn-more {
    width: 12rem;
    height: auto;
  }
  a.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  a.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  a.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  a.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  a.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  a:hover .circle {
    width: 100%;
  }
  a:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  a:hover .button-text {
    color: #fff;
  }