@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.input1 input {
  position: relative;
  height: 80px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 6px;
  padding-top: 30px;
  padding-left: 25px
}

.input1 label {
  position: absolute;
  height: 24px;
  background: none;
  border-radius: 6px;
  line-height: 48px;
  font-size: 15px;
  color: gray;
  width: 100%;
  font-weight: 100;
  padding-left: 25px
}

input[type="file"]{
  display:none;
}
label[for="file-input"]{
  display: block;
  position: relative;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color:white;
  margin: auto;
  border-radius: 5px;
  padding:18px 0;
}

label[for="file-input-edit"]{
  display: block;
  position: relative;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color:white;
  margin: auto;
  border-radius: 5px;
  padding:18px 0;
}

p[for="num-of-files"]{
  text-align: center;
  margin: 20px 0 30px 0;
}

p[for="num-of-files-edit"]{
  text-align: center;
  margin: 20px 0 30px 0;
}

#images{
  width: 90%;
  border:1px solid black;
  position:relative;
  margin:auto;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

#images-edit{
  width: 90%;
  border:1px solid black;
  position:relative;
  margin:auto;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

figure{
  width: 40%;
}
img{
  width: 100%;
}
figcaption{
  text-align: center;
  font-size: 10px;
  margin-top:1px;
}



@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
